## Swift Package Manager
.build/
.swiftpm/
Package.resolved.bak

## Xcode
*.xcodeproj/
*.xcworkspace/
!*.xcodeproj/project.pbxproj
xcuserdata/
DerivedData/
*.xcuserstate

## macOS
.DS_Store

## Tooling
*.pyc
__pycache__/

## Documentation tooling
.devtools/vale/.bin/
.docs-build/
site/
